
{%include 'adminheader.html'%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medease Companion</title>
</head>
<body>
    <center>
    <table border="2"  style="margin-top: 150px; width: 800px;"  class="table table-hover">
        <tr>
            <th style="font-size: 25px;">SL.NO</th>
            <th  style="font-size: 25px;">Name</th>
            <th style="font-size: 25px;">FILE</th>
            <th style="font-size: 25px;">OUT</th>
        </tr>
        {%for i in data['view']%}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{i['first_name']}} {{i['last_name']}}</td>
            <td><img src="{{i['file']}}" alt="image" height="200px" width="200px"></td>
            <td>{{i['out']}}</td>
        </tr>
        {%endfor%}
    </table>
    <br><br><br>
</center>
</body>
</html>

<style>
    body{
        background-image: url('/static/assets/img/image2.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>


{%include 'footer.html'%}