
{%include 'doctorheader.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medease Companion</title>
</head>
<body>
    <center>
    <form action="" method="post" style="margin-top: 300px;">
        <table> 
            <tr>
                <th style="font-size: 25px; color: black;">Prescription</th>
                <td><input type="text" name="pre" class="form-control" style="width: 300px; height: 53px;" required=""></td>
            </tr>

            <tr>
                <th style="font-size: 25px; color: black;">Medicine</th>
                <td><input type="text" name="med"  class="form-control" style="width: 300px; height: 53px;" required=""></td>
            </tr>
            <tr>
                <td align="center" colspan="3"><input type="submit" value="ADD" name="add" class="btn btn-success" style="margin-top: 30px;"></td>
            </tr>
        </table>
    </form>
    <br><br><br>
</center>
</body>
</html>

<style>
    th{
        padding: 20px;
    }
    body{
        background-image: url('/static/assets/img/image2.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

{%include 'footer.html'%}